/* Reset styles */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* Base font size */
html {
    font-size: 15px;
}

/* Mobile-first styles */
body {
    font-family: 'Verdana', sans-serif;
    font-size: 1rem;
    line-height: 1.5;
    color: #ccc;
    background: #222;
    margin: 15px;
}

.col {
    display: flex;
    flex-direction: column;
}

.playlist-box {
    margin: 10px 0px;
}

.box {
    border-width: 2px;
    border-color: #FFFFFF #808080 #808080 #FFFFFF;
    border-style: solid;

    background-color: #C0C0C0;
    color: #151515;
    width: 90vw;
    display: inline-block;
}

a {
    color: #FCFF4B;
}

a:hover {
    color: #ccc;
}

/* switch to .title h3 if no other uses arise */
.box h3 {
    margin: 0.5em 0;
}

.box a {
    color: #222;
}

.box a:hover {
    color: #FCFF4B;
}

.title {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding: 0px 10px;
}

button {
    float: right;
    margin: 5px 5px;
    padding: 0px 2px;
}

.content {
    display: none;
    padding: 20px 10px 10px 35px;
}

/* Responsive styles */
/* @media (min-width: 768px) {
    body {
        font-size: 1.2rem;
    }
} */


@media only screen and (min-width: 35em) {

    /* Style adjustments for viewports that meet the condition */
    .block {
        display: inline-block;
        margin: 20px;
    }

    .box {
        width: 400px;
    }

    .countd {
        position: absolute;
        top: 15px;
        right: 10px;
        text-align: center;
    }
}